/*
 *  ||  BASE STYLES
 */

:root {
    font-size: 12pt;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100%;
}

#content {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

/*
 *  ||  HEADER
 */
#header {
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid black;
    text-align: center;
    margin-bottom: 1rem;
}

#header img {
    cursor: pointer;
    height: 100%;
}

.preferences {
    float: right;
    width: fit-content;
    height: 5rem;
    position: relative;
}

#header .preferences img {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.25rem;
    margin-right: 1rem;
    height: 2.5rem;
    width: 2.5rem;
}

.preferences-menu {
    display: none;
    border: 1px solid black;
    border-top: none;
    border-radius: 0 0 0.25rem 0.25rem;
    position: absolute;
    top: 100%;
    right: 1rem;
    z-index: 1;
    padding-top: 0.2rem;
    padding: 0.5rem;
    white-space: nowrap;
    width: fit-content;
}

.preferences-menu select {
    display: inline-block;
    width: 7.5rem;
}

/*
 *  ||  TYPOGRAPHY
 */
h1 {
    font-size: 2.5rem;
    padding: 0.5rem;
}

h2 {
    font-size: 2rem;
    padding: 0.5rem;
}

h3 {
    font-size: 1.75rem;
    padding: 0.4rem;
}

h4 {
    font-size: 1.25rem;
    padding: 0.25rem;
}

/*
 *  ||  FORMS
 */
form input,
form textarea,
form select {
    margin: 0.25rem 0;
}

button,
input[type=submit] {
    position: relative;

    display: block;
    width: min(300px, 60%);
    padding: 0.5rem;
    background-color: white;
    border: 1px solid black;
    margin: 0.5rem auto;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 0 1rem 0 #000000;
    box-shadow: 0 0 0.25rem 0 #000000;
}

button:hover,
input[type=submit]:hover {
    background-color: lightgray;
}

button:active,
input[type=submit]:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type=text],
input[type=email],
input[type=number],
input[type=date],
input[type=datetime-local],
input[type=tel],
select {
    border: 1px solid gray;
    border-radius: 0.25rem;
    height: 1.5rem;
    padding: 0.25rem;
    width: min(300px, 60%);
    background-color: white;
}

input[type=checkbox],
input[type=radio] {
    border: 1px solid gray;
    border-radius: 0.25rem;
    height: 1.0rem;
    width: 1.0rem;
    margin: 0.5rem 0;
}

h2 input[type=text] {
    font-size: 2.0rem;
    height: 3.0rem;
    padding: 0.5rem;
    text-align: center;
}

textarea {
    border: 1px solid gray;
    border-radius: 0.25rem;
    height: 4.5rem;
    padding: 0.25rem;
    width: min(450px, 95%);
}

/*
 *  ||  NOTES
 */
.note-header {
    display: block;
    height: 1.5rem;
}

.note-creator {
    line-height: 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    vertical-align: middle;
    float: left;
}

.note-date {
    margin-left: 0.25rem;
    font-size: 0.75rem;
    color: gray;
    line-height: 1.5rem;
    vertical-align: middle;
    float: right;
}

.note-content {
    text-align: left;
    margin-left: 2.0rem;
}

/*
 *  ||  INFO TABLES
 */
.info-block {
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
}

.info-labels {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.info-labels div,
.info-labels label {
    text-align: right;
    font-weight: bold;
    height: 2.0rem;
    padding: 0.25rem;
    line-height: 1.5rem;
}

.info-inputs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.info-inputs div {
    text-align: left;
    height: 2.0rem;
    line-height: 2.0rem;
}

.inline-button {
    display: inline;
    width: min(150px, 25%);
    margin: 0;
    font-size: 0.8rem;
    padding: 0.2rem;
    margin-right: 1rem;
}

/*
 *  ||  TABLES
 */

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.35rem;
}

th {
    text-align: center;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    background-color: #CCC;
}

th:first-child,
td:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
}

th:last-child,
td:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
}

td {
    text-align: center;
    padding: 0.5rem;
    padding-left: 1rem;
}

tbody tr {
    border-radius: 0.5rem;
    box-shadow: 0 0 0.25rem 0 #000000;
}

tr.clickable {
    cursor: pointer;
}

tr.clickable:hover {
    background-color: #AAA;
}

tr.clickable:active {
    box-shadow: none;
}

/*
 *  ||  MISC
 */

.dot {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid gray;
    margin-left: 1rem;
}

.filter {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 0.25rem;
    background-color: white;
    margin-left: 0.25rem;
}

.filter:hover {
    background-color: lightgray;
}

.filter:active,
.filter-active {
    /* Will be inverted to blue */
    background-color: yellow;
    border: 1px solid white;
    filter: invert(1);
}

.filter-dropdown {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0.5rem);
    z-index: 1;
    background-color: white;
    border: 1px solid black;
    border-top: none;
    border-radius: 0 0 0.25rem 0.25rem;
    width: fit-content;
    white-space: nowrap;
    padding: 0.5rem;
}

input[type=text].search {
    margin: 0 0 0 auto;
    float: right;

    background-image: url("/images/search");
    background-repeat: no-repeat;
    background-position: 0.25rem 0.25rem;
    background-size: 1rem 1rem;

    padding-left: 1.5rem;
}

.location-filter {
    float: left;
    white-space: nowrap;

    width: fit-content;
}

.location-filter input,
.location-filter select {
    display: inline;
}

.error {
    color: darkred;
    text-align: center;
    height: 1rem;
    margin-top: -0.2rem;
    margin-bottom: 0.25rem;
}