<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock title %} - Sooter's ERP</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    </style>

    <link rel="icon" type="image/x-icon" href="/images/favicon">

    <link rel="stylesheet" href="/css/reset" />
    <link rel="stylesheet" href="/css/main" />

    <script src="/js/logging" type="module"></script>

    {% block head %}
    {% endblock %}
</head>

<body>
    <div id="header">
        <img src="/images/logo" alt="Sooter's" onclick="window.location.href = '/'" />
        <div class="preferences" id="preferences">
            <img src="/images/preferences" alt="Preferences" id="preferences-button" />
            <div id="preferences-menu" class="preferences-menu">
                <h4>Preferences</h4>
                <div>
                    Employee: <div id="employee-preference-container" style="display: inline;"></div><br />
                </div>
                <div>
                    Location: <div id="location-preference-container" style="display: inline"></div><br />
                </div>
                <div id="preferences-menu-buttons">
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>

    <div id="footer">
        <div id="report" class="report">Report Bug / Provide Feedback</div>
    </div>
</body>

</html>