{% extends "base.html" %}
{% block title %}{{ customer_name }}'s Orders{% endblock title %}

{% block head %}
<script src="/js/customer_orders" type="text/javascript"></script>
<script type="text/javascript">
    const ID = {{ id }};
</script>
{% endblock %}

{% block content %}
<h2>{{ customer_name }}'s Orders</h2>
<button onclick='window.location.href = "/orders/create?customer={{ id }}";'>Create Order</button>
<button onclick="window.location.href = '/customer?id={{ id }}'">Back</button>

<div id="orders"></div>

{% endblock content %}