{% extends "base.html" %}
{% block title %}Customer{% endblock title %}

{% block head %}
<script src="/js/customer" type="module"></script>
<script type="text/javascript">
    const ID = {{ id }};
</script>
{% endblock %}

{% block content %}

<div id="customer"></div>

<button onclick="window.location.href = '/orders?id={{ id }}'">View Orders</button>
<button onclick='window.location.href = "/orders/create?customer={{ id }}";'>Create Order</button>
<button onclick="window.location.href = '/customers'">Back</button>

<div id="notes"></div>

{% endblock content %}