{% extends "base.html" %}
{% block title %}{% if not active %}Deactivated {% endif %}Employees{% endblock title %}

{% block head %}
<script src="/js/employees" type="text/javascript"></script>
<script type="text/javascript">
    const ACTIVE = {{ active }};
</script>
{% endblock %}

{% block content %}

<h2>{% if not active %}Deactivated {% endif %}Employees</h2>

{% if active %}
<a href="/">Back</a><br />
<a href="/employees?active=false">View Deactived Employees</a><br />
{% else %}
<a href="/employees">Back</a><br />
{% endif %}

<div id="employees"></div>

{% endblock content %}