{% extends "base.html" %}
{% block title %}{% if not active %}Deactivated {% endif %}Employees{% endblock title %}

{% block head %}
<script src="/js/employees" type="text/javascript"></script>
<script type="text/javascript">
    const ACTIVE = {{ active }};
</script>
{% endblock %}

{% block content %}

<h2>{% if not active %}Deactivated {% endif %}Employees</h2>

<button onclick="window.location.href = '/employees/create'">Create Employee</button>
{% if active %}
<button onclick="window.location.href = '/employees?active=false'">View Deactived Employees</button>
<button onclick="window.location.href = '/'">Back</button>
{% else %}
<button onclick="window.location.href = '/employees'">Back</button>
{% endif %}

<div id="employees"></div>

{% endblock content %}